<ion-header>
  <ion-toolbar>
    <ion-item-divider>
      <ion-label>
        <ion-icon name="calendar" size="large" slot="start"></ion-icon>
      </ion-label>
        
      <ion-label>
        <ion-title font-family="Roboto">Planner</ion-title>
      </ion-label>
    </ion-item-divider>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item-title>
         <ion-icon name="people" size="large"></ion-icon>
      </ion-item-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>Para usar o Planner é necessário fazer o login.</ion-label>
    </ion-card-content>
  </ion-card>

  <form action="" class="form-control">
    <ion-item>
      <ion-label position="floating">Login:</ion-label>
      <ion-input placeholder="Digite seu login"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha:</ion-label>
      <ion-input placeholder="Digite sua senha"></ion-input>
    </ion-item>

    <ion-button [routerLink]="['/calendario']" expand="block">
      Logar
    </ion-button>
    <ion-button expand="block" color="light">
      <ion-icon name="logo-google" size="small" slot="start"></ion-icon>
      Login pelo Google
    </ion-button>
    <ion-item [routerLink]="['/registrar']">
      <ion-label>Não possui conta? <strong>Registre-se aqui.</strong> </ion-label>
    </ion-item>
  </form>

</ion-content>
