<ion-header>
  <ion-toolbar>
      <ion-item-divider>
        <ion-label>
          <ion-icon name="calendar" size="large" slot="start"></ion-icon>
        </ion-label>
          
        <ion-label>
          <ion-title font-family="Roboto">Planner</ion-title>
        </ion-label>

        <ion-label slot="end">
            <ion-icon (click)="onClick()" size="large" slot="end" name="person-circle"></ion-icon>
        </ion-label>
      </ion-item-divider>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <h3 slot="title"> {{this.saudacao}} </h3>
    </ion-item>
  </ion-card>

  <ion-datetime locale="pt-BR" first-day-of-week="1" presentation="date" color="success" size="cover">

  </ion-datetime>

  <ion-card>
    <ion-item>
      <ion-label position="floating" name="titulo">Título</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-textarea placeholder="Descreva sua tarefa." rows="3" name="descricao"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Notificação</ion-label>
      <ion-toggle checked slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
        <ion-datetime presentation="time" size="cover"></ion-datetime>
    </ion-item>
    
  </ion-card>

  <ion-button (click)="presentAlertConfirm()" expand="block" color="danger">
    Cancelar
  </ion-button>

  <ion-button [routerLink]="['/tarefas']" expand="block" color="success">
    Salvar
  </ion-button>
  
  <ion-row>
    <ion-col class="sm-2">
      <ion-button class="mt-2" [routerLink]="['/login']">Login</ion-button>
    </ion-col>
    
    <ion-col class="sm-2">
      <ion-button type="default" class="mt-2" [routerLink]="['/tarefas']" size="small">Tarefas</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
